body {
  margin: 0;
}
.parent-inline {
  background: yellow;
  border: 2px solid red;
  height: 500px;
  width: 500px;
}

.child-inline {
  background: magenta;
  width: 100px;
  display: inline-block;
}

.parent {
  width: 500px;
  height: 500px;
  background-color: thistle;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.child {
  flex-basis: 150px;
  background-color: skyblue;
  flex-grow: 0;
}
